<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>LastName</th>-->
<!--        <th>E-mail</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="user, iterStat : ${users}">-->
<!--        <td th:text="${user.getId()}"></td>-->
<!--        <td th:text="${user.getFirstName()}"></td>-->
<!--        <td th:text="${user.getLastName()}"></td>-->
<!--        <td th:text="${user.getEmail()}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<div th:each="user : ${users}">
    <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getFirstName()}">user</a>
</div>

<br/>
<hr/>

<a href="/users/new">Create new user></a>

</body>
</html>